*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}
.container{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 220, 187);
}
.container-wrapper{
    margin-bottom: 20px;
}
input{
    margin-top: 10px;
}
header,.featured,.menu,.extras,.about,.copy-right{
    width: 500px;
    margin-top: 10px;
  
    background-color: white;
    padding: 10px;
    border-radius: 5px ;
}
.headername,.body-name{
    width: 100%;
    background-color: rgb(237, 233, 228);
    border: none;
    padding: 10px;
    border-radius: 5px;
   
}
.featured,.extras{
    height: 100px;
}
.body-name{
    
    padding-bottom: 120px;
}
.about{
    padding-bottom: 30px;
}
.body-name::placeholder{
    text-align:left;  
}